{% extends 'base/layout.html' %}
{% block content %}
    <div class="my_card">
        <div class="col-12">
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label>Username</label>
                        <input type="text" maxlength="255"  disabled
                               class="form-control" value="{{ form.username|default_if_none:'' }}">
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label>First Name</label>
                        <input type="text" maxlength="255"  disabled
                               class="form-control" value="{{ form.first_name|default_if_none:'' }}">
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label>Last Name</label>
                        <input type="text" maxlength="255"  disabled
                               class="form-control" value="{{ form.last_name|default_if_none:'' }}">
                    </div>
                </div>
            </div>
            <div class="row">
                 <div class="col-4">
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" maxlength="255"  disabled
                               class="form-control" value="{{ form.email|default_if_none:'' }}">
                    </div>
                </div>
                 <div class="col-4">
                    <div class="form-group">
                        <label>Last Login</label>
                        <input type="text" maxlength="255"  disabled
                               class="form-control" value="{{ form.last_login|default_if_none:'' }}">
                    </div>
                </div>
                 <div class="col-4">
                    <div class="form-group">
                        <label>Joined Date</label>
                        <input type="text" maxlength="255"  disabled
                               class="form-control" value="{{ form.date_joined|default_if_none:'' }}">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}